---
layout: default
---
<blockquote class="block">
    <h3>
        {{ page.title }}
        <strong>
            {{ page.type }}
            {% case page.rarity %}
            {% when 'PC' %}
              (Peu commun)
            {% when 'R' %}
              (Rare)
            {% when 'U' %}
              (Unique)
            {%- endcase -%}
        </strong>
    </h3>
    {{content}}
    <p>
        Choisissez deux accroissements de caractéristique :
        {{ page.abilityBoosts | join: ", et "}}.
    </p>
    <p> Vous gagnez le don de compétence
        <a href="
            {% if skillFeatFile %}
                ../donscompetence/{{skillFeatFile}}.html
            {% else %}
                {% assign file = page.skillFeat | replace: " ", "-" | downcase %}
                ../donscompetence/{{file}}.html
            {%- endif %}
            ">
            {{ page.skillFeat }}
        </a>
        et vous êtes entraîné dans la compétence
        {{ page.trainedSkill }}.
    </p>
</blockquote>